{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}
    <h1 class="text-info amatic-text d-flex justify-content-center">Guest books</h1>
    <div class="row">
        {% for guestbook in guestbooks %}
            <div class="col-sm-6">
                <div class="card border-info mb-3">
                    <div class="d-flex bd-highlight">
                        <div class="mr-auto p-2 bd-highlight"><h3
                                class="d-flex justify-content-start">{{ guestbook.name }}
                            ({{ guestbook.email }}) </h3></div>
                        <div class="p-2 bd-highlight"><h3><a
                                href="{% url 'guestbook_update' guestbook.pk %}" class="text-dark"><i
                                class="far fa-edit"></i></a></h3></div>
                        <div class="p-2 bd-highlight"><h3><a
                                href="{% url 'guestbook_delete' guestbook.pk %}" class="text-dark"><i
                                class="far fa-trash-alt"></i></a></h3></div>
                    </div>
                    <div class="card-body text-info">
                        <h5 class="card-text">{{ guestbook.text }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
